<!-- 投稿一覧テンプレート -->
<% blogs.each do |blog| %>
    <div class="flex-blog-content">

      	<% if blog.blog_images.present? %>
      		<div class="index-slider">
				<% blog.blog_images.each do |image| %>
					<%= attachment_image_tag image, :photo, class: "blog-index-photo" %>
				<% end %>
			</div>
		<% else %>
			 <%= image_tag 'IMG_2667_2.jpg', class: "blog-index-photo" %>
		<% end %>

		<%= link_to blog_path(blog) do %>
			<div class="blog-title"><%= blog.title %></div>
		    <div><%= strip_tags(blog.address).truncate(8) %></div>
		<% end %>
    </div>
<% end %>
