<div class="form-box">
<div class="container">
<div class="row">


    <h2 class="blog-index-title"><%= params[:genre] %> (全<%= @count %>件)</h2>

      <div class="search-var-style">
        <%= render 'search' %><!-- 種類検索パネル -->
        <div class="blog-index-newbt"><%= link_to " 新規投稿", new_blog_path, class: 'btn btn-info' %></div>
      </div>

      <div class="flex-blog">
        <%= render 'index', blogs: @blogs %><!-- 投稿一覧テンプレート -->
      </div>
      <div class="paginate-style">
        <%= paginate @blogs %>
      </div>

  </div>
</div>
</div>
</div>