<div class="form-box">
<div class="container">
<div class="row">

	<% if @blog.blog_images.present? %>
		<div class="a">
			<% @blog.blog_images.each do |image| %>
			  	<%= attachment_image_tag image, :photo, size: "50x50", class: "blog-photo-show" %>
			<% end %>
		</div>
	<% else %>
		<%= image_tag 'IMG_2667 2.jpeg', class: "blog-photo-show" %>
	<% end %>

	<div class="panel panel-info">
	    <div class="panel-heading">
			<h2 class="panel-title"><%= @blog.title %></h2>
	    </div>
	</div>

	<div class="table-scroll">
      	<table class="table">

	      	<tr>
		    	<th class="blog-show-content-title">説明</th>
		    	<td class="blog-show-content"><%= @blog.body %></td>
		    </tr>

		    <tr>
		    	<th class="blog-show-content-title">種類</th>
		    	<td class="blog-show-content"><%= @blog.genre %></td>
		    </tr>

		    <tr>
		    	<th class="blog-show-content-title">住所</th>
		    	<td class="blog-show-content"><%= @blog.address %></td>
		    </tr>

		    <tr>
		    	<th class="blog-show-content-title">URL</th>
		    	<td class="blog-show-content"><%= auto_link(simple_format(@blog.url_content), html: { target: '_blank' }) %></td>
		    </tr>

		    <tr>
		    	<th class="blog-show-content-title">投稿者</th>
		    	<td class="blog-show-content">
		    		<%= link_to customer_path(@blog.customer) do %>
		    			<%= @blog.customer.name %>
		    		<% end %>
		    	</td>
		    </tr>

		    <tr>
		    	<% if @blog.customer == current_customer %>
	      			<th><%= link_to "編集", edit_blog_path(@blog.id), class: "btn btn-success" %></th>
	      			<td><%= link_to "削除", blog_path, class: 'btn btn-danger', method: :delete %></td>
      			<% end %>
			</tr>

			<tr>
      			<th class="blog-show-content-title">お気に入り</th>
		    	<td>
		    		<% if customer_signed_in? %>
			    		<% if @blog.favorited_by?(current_customer) %>
			              <%= link_to blog_favorites_path(@blog), method: :delete do %>
			                <i class="fa fa-heart" aria-hidden="true" style="color: red;"> (登録者数 : <%= @blog.favorites.count %>人)</i>
			              <% end %>
			            <% else %>
			              <%= link_to blog_favorites_path(@blog), method: :post do %>
			                <i class="fa fa-heart-o" aria-hidden="true"> (登録者数 : <%= @blog.favorites.count %>人)</i>
			              <% end %>
			            <% end %>
			        <% else %>
			        	<i class="fa fa-heart" aria-hidden="true" style="color: red;"> (登録者数 : <%= @blog.favorites.count %>人)</i>
			        <% end %>
	          	</td>
		    </tr>

			<tr>
				<th class="blog-show-content-title">コメント数</th>
				<td class="blog-show-content"><%= @blog.blog_comments.count %>件</td>
			</tr>
      	</table>
      </div>

      	<!-- コメント一覧 -->
      	<div class="table-scroll-comment">
			<table class="table">
				<thead>
					<strong>コメント一覧</strong>
				</thead>
				<tbody class="">
	      		<% @blog_comments.each do |blog_comment| %>
			        <tr>
			          <td class="blog-show-comment-customer">
			            <%= link_to customer_path(blog_comment.customer), class: "customer_#{blog_comment.customer.id}" do %>
			              <%= attachment_image_tag blog_comment.customer, :profile_image, size: "30x30", fallback: "hans-jurgen-mager-Fbdr6gXJBVY-unsplash",class: "profile-image-style" %>
			              <%= blog_comment.customer.name %>
			            <% end %>
			          </td>
			          <td class="blog-show-content blog-show-comment">
			          	<%= blog_comment.comment %>
			          </td>
			          <% if current_customer == blog_comment.customer %>
			            <td><%= link_to '', blog_comment_path(blog_comment), class: 'glyphicon glyphicon-trash comment-deletebt', method: :delete %></td>
			          <% end %>
			        </tr>
	      		<% end %>
	      	</tbody>
	    	</table>
		</div>
		<div class="comment-paginate-style">
			<%= paginate @blog_comments %>
		</div>


      	<% if customer_signed_in? %>
	     	<div class="comment-form">コメント記入欄(50字以内)
		      	<%= form_for [@blog, @blog_comment] do |f| %>
	    	    	<%= f.text_area :comment, size: "30x4" %>
	        		<%= f.submit 'コメント投稿', class: "btn btn-info" %>
	      		<% end %>
	    	</div>
    	<% end %>
</div>
</div>
</div>
