<div class="form-box">
	<div class="container">
		<div class="row">
			<!-- ログイン者のお気に入り一覧画面 -->
			<div class="favorite-index-title">お気に入り (<%= @count %>件)</div>

			<div class="flex-blog">
				<% @favorites.each do |favorite| %>
					<div class="flex-blog-content">
						<% if favorite.blog_images.present? %>
					      	<div class="index-slider">
								<% favorite.blog_images.each do |image| %>
									<%= attachment_image_tag image, :photo, class: "blog-index-photo" %>
								<% end %>
							</div>
						<% else %>
							<%= image_tag 'IMG_2667_2.jpg', class: "blog-index-photo" %>
						<% end %>

						<%= link_to blog_path(favorite) do %>
							<div class="blog-title"><%= favorite.title %></div>
							<div class="blog-address"><%= favorite.address %></div>
						<% end %>
					</div>
				<% end %>
    		</div>
		    <div class="paginate-style">
		    	<%= paginate @favorites %>
		    </div>

		</div>
	</div>
</div>
