<div class="form-box">
<div class="container">
<div class="row">

  <div class="col-xs-3 text-center">
    <div class="panel panel-info">
      <div class="panel-heading">

      	<h2 class="panel-title"><%= @customer.name %></h2>

	      	<div class="field">
		        <div class="panel-body">
		      		<%= attachment_image_tag @customer, :profile_image, size: "70x70", fallback: "hans-jurgen-mager-Fbdr6gXJBVY-unsplash", class: "profile-image-style" %>
		        </div>
         	</div>

         	<div class="field">
		        <div class="panel-body">
		        	<%= link_to "編集", edit_customer_path(@customer.id), class: "btn btn-defaults" %>
		        </div>
		    </div>
       </div>
     </div>
   </div>


	<div class="col-xs-9 text-center">

		<div class="flex-blog">
	      <% @blogs.each do |blog| %>
		      <div class="flex-blog-content">
		      	<%= link_to blog_path(blog) do %>
			        <%= image_tag blog.photos[0].to_s, size: "100x100", fallback: "no-image.png" %>
			        <div class="index-blog-title"><%= blog.title %></div>
			        <div class="index-blog-address"><%= blog.address %></div>
			    <% end %>
		      </div>
	      <% end %>
	    </div>

	</div>





</div>
</div>
</div>
