<div class="table-scroll-comment">
<table class="table">
	<thead>
		<strong>コメント一覧(<%= count %>件)</strong>
	</thead>
	<tbody>
  		<% blog_comments.each do |blog_comment| %>
	        <tr>
	          <td class="blog-show-comment-customer">
	            <%= link_to customer_path(blog_comment.customer), class: "customer_#{blog_comment.customer.id}", remote: true do %>
	              <%= attachment_image_tag blog_comment.customer, :profile_image, size: "40x40", fallback: "hans-jurgen-mager-Fbdr6gXJBVY-unsplash",class: "profile-image-style" %>
	              <%= blog_comment.customer.name %>
	            <% end %>
	          </td>
	          <td class="blog-show-content blog-show-comment">
	          	<%= blog_comment.comment %>
	          </td>
	          <!-- ログインしていて、ログイン者か管理者なら、コメント削除ボタン表示 -->
	          <% if customer_signed_in? %>
		          <% if current_customer == blog_comment.customer || current_customer.admin? %>
		            <td><%= link_to '', blog_comment_path(blog_comment), class: 'glyphicon glyphicon-trash comment-deletebt', method: :delete, remote: true %></td>
		          <% end %>
	          <% end %>
	        </tr>
  		<% end %>
  	</tbody>
</table>

	<div class="comment-paginate-style">
		<%= paginate blog_comments %>
	</div>
</div>

