<header class="navbar navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <nav class='nav navbar-nav navbar-left' >
      <%= link_to root_path do %>
        <span class="head-text">Healing</span>
      <% end %>
    </nav>

    <nav>
      <ul id="navbar" class="nav navbar-nav navbar-right navbar-collapse collapse">
        <% if customer_signed_in? %>
          <li class="nav_list"><%= link_to 'Top', root_path, class: 'nav-style' %></li>
          <li class="nav_list"><%= link_to '会員一覧', customers_path, class: 'nav-style' %></li>
          <li class="nav_list"><%= link_to '投稿一覧', blogs_path, class: 'nav-style'%></li>
          <li class="nav_list"><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: 'nav-style' %></li>
        <% else %>
          <li class="nav_list"><%= link_to 'Top', root_path, class: 'nav-style' %></li>
          <li class="nav_list"><%= link_to 'About', homes_about_path, class: 'nav-style' %></li>
          <li class="nav_list"><%= link_to '投稿一覧', blogs_path, class: 'nav-style'%></li>
          <li class="nav_list"><%= link_to '新規会員登録', new_customer_registration_path, class: 'nav-style' %></li>
          <li class="nav_list"><%= link_to 'ログイン', new_customer_session_path , class: 'nav-style'%></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
